{% extends 'base.html' %}

{% block content %}
    {% if request.user.is_authenticated %}
    <div class="container">
                <h3 class="pull-left" style="margin-top: 15px;">Все новости</h3>
                <div class="btn-group pull-right">
                    <a href="{% url 'today-events' %}"
                       class="btn {% if active_btn == 'today' %}btn-primary{% else %}btn-default{% endif %}">Сегодня</a>
                    <a href="{% url 'tomorrow-events' %}"
                       class="btn {% if active_btn == 'tomorrow' %}btn-primary{% else %}btn-default{% endif %}">Завтра</a>
                    <a href="{% url 'week-events' %}"
                       class="btn {% if active_btn == 'week' %}btn-primary{% else %}btn-default{% endif %}">На неделе</a>
                    <a href="{% url 'month-events' %}"
                       class="btn {% if active_btn == 'month' %}btn-primary{% else %}btn-default{% endif %}">За 30 дней</a>
                </div>
        <div class="clearfix"></div>
        <hr />
        {% for post in posts %}
            <div class="panel panel-primary">
                <div class="panel-heading">{{ post.event_date }} {{ post.source }}</div>
                <div class="panel-body">
                    {{ post.text|safe|truncatechars:"300" }}
                </div>
                <div class="panel-footer">
                    <a target="_blank" href="{{ post.link }}">Подробнее &rarr;</a>
                </div>
            </div>
        {% empty %}
            <p>Идет обработка...</p>
            <p>Это может занять несколько минут. А пока вы можете сделать себе кофе или чай :)</p>
            <script type="text/javascript">
                $(function()
                {
                    $.ajax({
                        type: 'GET',
                        url: '/process/',
                        success: function(resp)
                        {
                            if (resp == 'Done') location.href = '/';
                        }
                    })
                })
            </script>
        {% endfor %}
    </div>
    {% else %}
        <div class="container">
            <div class="jumbotron">
                <h1>Events Radar</h1>
                <p>
                    Система поиска событий в вашей новостной ленте ВКонтакте
                </p>
                <small style="font-size: 15px;">
                <p>
                    Иногда хочется куда-то сходить, но не знаешь куда.
                    Можно поискать информацию на порталах типа Афиши, KudaGo и т.д., но иногда там только круные мероприятия.
                    Можно обратиться к пабликам, но опять же там слишком много информации и постов не интересных Вам.
                    Наконец можно обратиться к друзям и почитать их стены, но как отфильтровать всю не нужную информацию ?
                </p>
                <p>
                    Events Radar как раз для этого и предназначен: поиск событий по друзям и группам, с фильтрацией по дате и сету проведения.
                    Теперь Вам понадобится всего несколько минут, чтобы найти нтересное мероприятие на вечер.
                </p>
                </small>
                <p><a href="{% url 'socialauth_begin' 'vk-oauth' %}" class="btn btn-primary btn-lg" role="button">Найти планы на вечер</a></p>
            </div>
        </div>
    {% endif %}
{% endblock %}